.in_progress,
.done {
  color: #c60;
  border: 1px solid;
  border-radius: 3px;
  padding: 0.1em 0.4em;
  font-weight: normal;
  margin-left: 0.2em;
  vertical-align: middle;
  font-size: 0.9em;
}

.done {
  color: #009933;
}

input[type="checkbox"] {
  background: #286090;
  accent-color: #286090;
  opacity: 50%;
}

@media print {
  body {
    color: #000;
  }
  .navbar,
  #intro,
  input[type="checkbox"],
  .done,
  .in_progress {
    display: none;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
  a[href]:after {
    content: none !important;
  }
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: block;
  }
  .tab-pane {
    page-break-after: always;
  }
}

body {
  background-color: #121212;
  color: rgb(207, 207, 207);
}

ul {
  list-style-type: none;
  padding-left: 22px;
}
ul li ul {
  padding-top: 0;
}
h3 {
  margin-bottom: 0;
}
.checkbox label,
.radio label {
  padding-left: 24px;
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-left: -24px;
}

.table_of_contents {
  margin-left: 0;
  padding: 0;
  line-height: 1.5;
}

.highlight {
  background-color: rgb(255, 246, 18);
}

.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.navbar {
  background-color: rgba(235, 235, 235, 0.4) !important;
  border-color: #121212;
}

.navbar .input-append {
  color: black;
}

.navbar a {
  color: white !important;
}

nav .active a {
  background-color: #CC6600 !important;
}

.btn-group-flex {
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-decoration: none;
  color: rgb(20, 19, 19);
  background-color: rgba(235, 235, 235, 0.4);
  font-size: 12px;
  padding: 0;
  display: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.btn-group-flex .btn {
  border-top-left-radius: 0;
  border-left: 0;
  /* left: 0; */
  flex-shrink: 1;
  min-width: 0;
}

.fadingbutton.back-to-top {
  border-top-right-radius: 0;
  border-right: 0;
  right: 0;
}

.back-to-top {
  position: fixed;
  bottom: 3em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.4);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.achievement-related .checkbox span {
  -webkit-text-stroke: 0.6pt #c60;
  color: white;
  /* text-decoration: underline #c60; */
  /* border: 1px solid rgba(204, 102, 0, 0.623); */
  /* text-emphasis: "⚔"; */
  /* text-decoration:inherit; */
}
.achievement-related .checkbox a {
  -webkit-text-stroke-width: 0pt;
  color: #337ab7;
  text-decoration: none;
}
.achievement-related li:not(.achievement-related) span {
  -webkit-text-stroke-width: 0pt;
  color: rgb(207, 207, 207);
  text-decoration: none;
}

.achievement-related .item_content a {
  text-shadow: none;
}

.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5);
}

/* .togglehide {
  position: fixed;
  bottom: 2em;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  padding: 1em;
  display: none;
} */

.togglehide:hover {
  background-color: rgba(135, 135, 135, 0.5);
}

.btn-collapse {
  padding: 4px 10px 1px;
  margin-right: 10px;
  vertical-align: top;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: #c60;
  border-color: #c60;
}

.btn:focus,
.btn.active:focus {
  outline: none;
  outline: 0;
}

.btn.filter-inactive .glyphicon-eye-close {
  display: inline-block;
}
.btn.filter-inactive .glyphicon-eye-close {
  display: none;
}
.btn.filter-active .glyphicon-eye-open {
  display: inline-block;
}
.btn.filter-active .glyphicon-eye-open {
  display: none;
}

.btn.filter-inactive .glyphicon-chevron-down {
  display: inline-block;
}
.btn.filter-inactive .glyphicon-chevron-down {
  display: none;
}
.btn.filter-active .glyphicon-chevron-up {
  display: inline-block;
}
.btn.filter-active .glyphicon-chevron-up {
  display: none;
}

/* Icon when the collapsible content is shown */
.btn-collapse:after {
  font-family: "Glyphicons Halflings";
  content: "\e082";
}
/* Icon when the collapsible content is hidden */
.btn-collapse.collapsed:after {
  content: "\e081";
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

body.hide_completed .completed {
  display: none !important;
}

.hide_filtered {
  display: none !important;
}

body.hide_non_achievement_related
  .tab-content
  ul.panel-collapse:not(.table_of_contents, .nav)
  li:not(.achievement-related) {
  display: none !important;
}

input[type="checkbox"]:checked + .item_content {
  text-decoration: line-through;
}

input[type="checkbox"] ~ .glyphicon-eye-close,
input[type="checkbox"] ~ * > .glyphicon-eye-close,
input[type="checkbox"]:checked ~ .glyphicon-eye-open,
input[type="checkbox"]:checked ~ * > .glyphicon-eye-open {
  display: none;
}
input[type="checkbox"] ~ .glyphicon-eye-open,
input[type="checkbox"] ~ * > .glyphicon-eye-open,
input[type="checkbox"]:checked ~ .glyphicon-eye-close,
input[type="checkbox"]:checked ~ * > .glyphicon-eye-close {
  display: inline-block;
}

input[type="checkbox"] ~ .glyphicon-chevron-down,
input[type="checkbox"] ~ * > .glyphicon-chevron-down,
input[type="checkbox"]:checked ~ .glyphicon-chevron-up,
input[type="checkbox"]:checked ~ * > .glyphicon-chevron-up {
  display: none;
}
input[type="checkbox"] ~ .glyphicon-chevron-up,
input[type="checkbox"] ~ * > .glyphicon-chevron-up,
input[type="checkbox"]:checked ~ .glyphicon-chevron-down,
input[type="checkbox"]:checked ~ * > .glyphicon-chevron-down {
  display: inline-block;
}

.bi {
  margin-left: -24px;
  margin-right: 12px;
  height: 80%;
}

label.completed .bi {
  visibility: hidden;
}

label input {
  visibility: hidden;
}